/.idea/
/shelf/
/workspace.xml
/build/
/mltb.egg-info/
#/data

/mltb/data/used_car_prices/test.csv
/mltb/data/used_car_prices/train.csv
/mltb/data/used_car_prices/ypreds_lgbm.pkl

/mltb/model_selection/catboost_info